@media (max-width: 412px) {

	body {
		background-size: 103px 100%;
		background-position: left 103px top,left 5px bottom,left 5px center;
	}

	.header-section {
		animation: none;
		background-size: cover;

	}

	.header-section__heading h1 {
		font-size: 40px;
		line-height: 49px;
	}

	.header-section__heading .line {
		margin-bottom: 30px;
	}

	.header__logotype {
		width: 130px;
		margin-top: 3px;
	}

	.hedaer__language {
		margin-right: 32px;
		p {
			font-size: 14px;
			line-height: 18px;
		}
	}

	.header-section__heading p:nth-child(1) {
		margin-bottom: 30px;
		font-size: 16px;
		line-height: 19px;
	}

	.header-section__desc {
		font-size: 16px;
		line-height: 130%;
		margin-bottom: 30px;
	}

	.header-section__product-item a {
		font-size: 14px;
		line-height: 130%;
	}

	.header-section__heading {
		padding-top: 60px;
	}

	.header-section__product-item {
		margin-bottom: 15px;
	}

	.header-section__products {
		display: block;
	}

	.index-section-desc {
		font-size: 16px;
		line-height: 130%;
	}

	.complectation__blocks {
		grid-template-columns: repeat(1, 1fr);
        gap: 5px;
	}

    .complectation h1 {
        margin-top: 60px;
        margin-bottom: 30px;
    }

	.complectation__block {
		height: 302px;
	}

	.complectation__block:not(:first-child):after {
		height: 302px;
	}

	.complectation__block:first-child {
		height: 174px;
	}

	.complectation__block p {
		font-size: 23px;
		line-height: 28px;
		left: 17px;
		top: 216px;
	}

	.market .index-section-desc {
		display: none;
	}

	.market__blocks {
		display: block;
	}

	.market__block {
		width: 342px;
		margin: 0 auto 15px;
	}

	.market__block:first-child {
		width: 100%;

		h3 {
			margin-bottom: 45px;
		}
	}

	.market__block img {
		max-width: 100%;
	}

	.production .index-section-desc {
		display: none;
	}

	.production {
		margin-top: 60px;
	}

	.production__buttons {
		display: none;
	}

	.production__buttons.mobile-version {
		display: flex;
	}

	.production__slider-one .slick-list .slick-track {
		height: 240px;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.responsibility__block-image {
		background-size: cover;
	}

	.responsibility__block:nth-child(2) h4, .responsibility__block:nth-child(2) p,
	.responsibility__block:nth-child(3) h4, .responsibility__block:nth-child(3) p {
		max-width: 322px;
	}

	.responsibility__block:nth-child(2) p {
		max-width: 328px;
	}

	.responsibility__block svg {
		margin-left: 30px;
		
	}

	.responsibility__block:nth-child(1) {
		background-position: -22px 0;
	}

	.responsibility__block-quality, .responsibility__block-ecology {
		height: 449px;
	}

	.responsibility__block-quality:before, .responsibility__block-ecology:before {
		height: 449px;
	}

	.news__header a {
		display: none;
	}

	.news__header {
		margin-bottom: 60px;
	}

	.news__desc {
		-webkit-line-clamp: 3;
		line-clamp: 3;
		font-size: 18px;
	}

	.news__all-mobile {
		font-family: SFPro;
		font-weight: normal;
		font-size: 20px;
		line-height: 130%;
		padding: 7px 0;
		color: #000000;
		display: block;
		margin-top: 30px;
	}

	.footer {
		margin-top: 60px;
	}

	.footer__mobile {
		display: none;
	}

	.footer__mobile-xs {
		display: flex;
		padding: 28px 15px 30px;
	}

	.footer__mobile-xs button {
		display: block;
		width: 123px;
	}

	.footer__mobile-xs-left {
		max-width: 123px;
		margin-right: 83px;
	}

	.footer__mobile-xs-right {
		p {
			max-width: 105px;
		}
	}

	.footer a, .footer p {
		font-size: 12px;
		line-height: 18px;
	}
	
	.news {
		margin-bottom: 0;
	}

	.news__date {
		margin-left: 10px;
	}

	.text-20 {
		font-size: 16px;
		line-height: 130%;
	}

	.contacts__desc {
		flex-direction: column;

		p {
			margin-bottom: 30px;
		}
	}

	.news-index .dropdown:last-child {
		margin-bottom: 0;
	}

	.container {
		max-width: 397px;
		padding: 0 7px;
	}

	.clients>.container {
		max-width: 397px;
		padding: 0 7px;
	}

	.sidebar-container {
		max-width: 397px;
	}

	.about .sidebar-container {
		max-width: 397px;
		margin-left: 7px;
	}

	.about .slider-container {
		max-width: 412px;
	}

	.about__slider .slick-list .slick-track {
		height: 240px;
	}

	.about__slider .about__arrow-next, .about__slider .about__arrow-prev {
		display: none;
	}

	.about__slider .slick-dots li.slick-active button {
		width: 8px;
		height: 8px;
		background-color: #ffdb30;
		transform: translate(0);
	}

	.about__slider .slick-dots li button {
		width: 8px;
		height: 8px;
		transform: translate(0);
	}

	.about__products-wrapper {
		flex-direction: column;
		margin-left: 0;
	}

	.about__positions {
		gap: 30px;
	}

	.about__position {

		&-card {
			max-width: 176px;
			height: 228px;
			margin-bottom: 15px;
		}

		p {
			font-size: 16px;
			margin-bottom: 5px;
		}

		img {
			max-width: 100%;
		}

		span { 
			font-size: 16px;
		}
	}
	
	.about__rules-heading {
		max-width: 250px;
	}

	

	.about__history-years p {
		font-size: 18px;
	}

	.about__history-content {
		margin-bottom: 0;
	}

	.vacancies .dropdown:last-child {
		margin-bottom: 0;
	}

	.vacancies {
		.line {
			margin-left: 0;
		}

		h3 {
			padding-left: 13px;
		}
	}

	.vacancies .vacancies__desc {
		font-size: 16px;
	}

	.footer {
		padding: 32px 0 30px;
	}

	.quality__sertificates, .ecology__sertificates {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 30px 32px;
		
		img {
			max-width: 172px;
			height: 247px;
		}
	}

	.quality__afterwords {
		display: none;
	}

	.mbxs-0 {
		margin-bottom: 0;
	}

	.mbxs-15 {
		margin-bottom: 15px;
	}

	.mbxs-30 {
		margin-bottom: 30px;
	}

    .mbxs-60 {
		margin-bottom: 60px;
	}

	.mtxs-65 {
		margin-top: 65px;
	}

	.news-detail .sidebar-container > *:last-child {
		margin-bottom: 0;
	}

    .clients .heading-60 {
        margin-top: 60px;
        margin-bottom: 30px;
    }

    .clients__block {
        width: 176px;
    }

    .clients__blocks {
        grid-gap: 30px;
    }

	.clients.popup {
		max-width: 412px;
		padding: 60px 17px;

		p, h3 {
			text-align: left;
		}

		h3 {
			margin-bottom: 15px;
		}

		p {
			margin-bottom: 30px;
		}
	}

	.popup__choose-file p {
		padding-left: 0;
	}

    .error__block {
        margin: 90px 15px 60px;
        height: 271px;
    }

    .error__gohome {
        margin: 0 auto 60px;
    }

    .error__block p {
        font-size: 18px;
        line-height: 130%;
        max-width: 323px;
    }

	.burger__menu {
		flex-direction: column;
	}

	.burger {
		overflow: auto;
	}

	.burger__menu-list li {
		padding-left: 15px;
	}

	.burger__menu-one > .burger__menu-list li:last-child {
		margin-bottom: 30px;
	}

	.burger__menu-two > .burger__menu-list li:last-child {
		margin-bottom: 30px;
	}

	.products-detail__files {
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 0;
	}

	.products-detail__files a:first-child {
		margin-right: 0;
		margin-bottom: 30px;
	}

	ul.list li {
		font-size: 16px;
		line-height: 127%;
	}

	.ecology ul.list li, .quality ul.list li {
		font-size: 16px;
    	line-height: 130%;
		margin-bottom: 15px;
		max-width: 377px;
		width: 100%;
	}

	.innovation__slider {
		min-height: 200px;
	}

	.innovation__slider-one img {
		width: 314px;
	}

	.innovation__slider-two img {
		width: 220px;
	}

	.products__complectation .container, .products__market .container {
		padding: 0 7px;
	}

	.products__detail-layout .container {
		padding: 0 7px;
	}

	.products-detail p {
		font-size: 18px;
	}

	.products-detail img {
		max-width: 83%;
	}

	.products-detail__files {
		margin-left: 16px;
	}

	.innovation .container {
		padding: 0 7px;
	}

	.innovation__slider .slick-dots {
		bottom: 5px;
	}

	.competence__nums {
		grid-template-columns: repeat(3, 1fr);
		gap: 26px 71px;
	}

	.competence__num {
		width: 80px;
		height: 80px;
		border: 3px solid #000000;

		h3 {
			font-size: 12px;
			margin-top: 10px;
		}

		p {
			font-size: 7px;
			max-width: 60px;
		}
	}

	.competence__num:nth-child(3) h3 {
		font-size: 20px;
	}

	.competence .competence__laboratory {
		font-size: 33px;
		line-height: 40px;
	}

	.competence .competence__laboratory-desc {
		font-size: 16px;
		line-height: 130%;
	}

	.clients .container.min {
		padding: 0 7px 0 15px;
	}

	.clients .clients__desc {
		font-size: 18px;
	}

	.clients .container.min.clients__tiles {
		padding: 0 15px;
	}

	.clients__block {
		width: 176px;
		height: 122px;

		img {
			max-width: 100%;
		}
	}

}