@media (max-width: 412px) {

	body {
		background-size: 103px 100%;
		background-position: left 103px top,left 5px bottom,left 5px center;
	}

	.header-section__heading h1 {
		font-size: 40px;
		line-height: 49px;
	}

	.header-section__heading .line {
		margin-bottom: 30px;
	}

	.header__logotype {
		width: 130px;
		margin-top: 3px;
	}

	.hedaer__language {
		margin-right: 32px;
		p {
			font-size: 14px;
			line-height: 18px;
		}
	}

	.header-section__heading p:nth-child(1) {
		margin-bottom: 30px;
		font-size: 16px;
		line-height: 19px;
	}

	.header-section__desc {
		font-size: 16px;
		line-height: 130%;
		margin-bottom: 30px;
	}

	.header-section__product-item a {
		font-size: 14px;
		line-height: 130%;
	}

	.header-section__heading {
		padding-top: 60px;
	}

	.header-section__product-item {
		margin-bottom: 15px;
	}

	.header-section__products {
		display: block;
	}

	.index-section-desc {
		font-size: 16px;
		line-height: 130%;
	}

	.complectation__blocks {
		grid-template-columns: repeat(1, 1fr);
        gap: 5px;
	}

    .complectation h1 {
        margin-top: 60px;
        margin-bottom: 30px;
    }

	.complectation__block {
		height: 302px;
	}

	.complectation__block:first-child {
		height: 174px;
	}

	.complectation__block p {
		font-size: 23px;
		line-height: 28px;
		left: 17px;
		top: 216px;
	}

	.market .index-section-desc {
		display: none;
	}

	.market__blocks {
		display: block;
	}

	.market__block {
		width: 342px;
		margin: 0 auto 15px;
	}

	.market__block:first-child {
		width: 100%;
	}

	.market__block img {
		max-width: 100%;
	}

	.production .index-section-desc {
		display: none;
	}

	.production {
		margin-top: 60px;
	}

	.production__buttons {
		display: none;
	}

	.production__buttons.mobile-version {
		display: flex;
	}

	.production__slider-one .slick-list .slick-track {
		height: 240px;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.responsibility__block-image {
		background-size: cover;
	}

	.responsibility__block:nth-child(2) h4, .responsibility__block:nth-child(2) p,
	.responsibility__block:nth-child(3) h4, .responsibility__block:nth-child(3) p {
		max-width: 322px;
	}

	.responsibility__block-quality, .responsibility__block-ecology {
		height: 449px;
	}

	.news__header a {
		display: none;
	}

	.news__header {
		margin-bottom: 60px;
	}

	.news__desc {
		-webkit-line-clamp: 3;
		line-clamp: 3;
		font-size: 18px;
	}

	.news__all-mobile {
		font-family: SFPro;
		font-weight: normal;
		font-size: 20px;
		line-height: 130%;
		padding: 7px 0;
		color: #000000;
		display: block;
		margin-top: 30px;
	}

	.footer {
		margin-top: 60px;
	}

	.footer__mobile {
		display: none;
	}

	.footer__mobile-xs {
		display: flex;
		padding: 28px 15px 30px;
	}

	.footer__mobile-xs button {
		display: block;
		width: 123px;
	}

	.footer__mobile-xs-left {
		max-width: 123px;
		margin-right: 83px;
	}

	.footer__mobile-xs-right {
		p {
			max-width: 105px;
		}
	}

	.footer a, .footer p {
		font-size: 12px;
		line-height: 18px;
	}
	
	.news {
		margin-bottom: 0;
	}

	.news__date {
		margin-left: 10px;
	}

	.text-20 {
		font-size: 16px;
		line-height: 130%;
	}

	.contacts__desc {
		flex-direction: column;

		p {
			margin-bottom: 30px;
		}
	}

	.news-index .dropdown:last-child {
		margin-bottom: 0;
	}

	.container {
		max-width: 397px;
		padding: 0 7px;
	}

	.sidebar-container {
		max-width: 397px;
	}

	.vacancies .dropdown:last-child {
		margin-bottom: 0;
	}

	.vacancies {
		.line {
			margin-left: 0;
		}

		h3 {
			padding-left: 13px;
		}
	}

	.footer {
		padding: 32px 0 30px;
	}

	.quality__sertificates, .ecology__sertificates {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 30px 32px;
		
		img {
			max-width: 172px;
			height: 247px;
		}
	}

	.quality__afterwords {
		display: none;
	}

	.mbxs-0 {
		margin-bottom: 0;
	}

    .mbxs-60 {
		margin-bottom: 60px;
	}

	.news-detail .sidebar-container > *:last-child {
		margin-bottom: 0;
	}

    .clients .heading-60 {
        margin-top: 60px;
        margin-bottom: 30px;
    }

    .clients__block {
        width: 176px;
    }

    .clients__blocks {
        grid-gap: 30px;
    }

    .error__block {
        margin: 90px 15px 60px;
        height: 271px;
    }

    .error__gohome {
        margin: 0 auto 60px;
    }

    .error__block p {
        font-size: 18px;
        line-height: 130%;
        max-width: 323px;
    }

	.burger__menu {
		flex-direction: column;
	}

	.burger {
		overflow: auto;
	}

	.burger__menu-list li {
		padding-left: 15px;
	}

	.burger__menu-one > .burger__menu-list li:last-child {
		margin-bottom: 30px;
	}

	.burger__menu-two > .burger__menu-list li:last-child {
		margin-bottom: 30px;
	}

}