@media (max-width: 768px) {

	body {
		background-size: 120px 100%;
		background-position: left 24px top,left 5px bottom,left 5px center;
	}

	.container {
		max-width: 720px;
		padding: 0 15px
	}

	.header .container.white {
		max-width: 720px;
	}

	.clients>.container {
		max-width: 720px;
	}

	.complectation__block {
		h3 {
			font-size: 20px ;
		}

		svg {
			display: none;
		}
	}

	.header-section__desc {
		margin-bottom: 34px;
	}

	.index-section-desc {
		max-width: 570px;
	}

	.header-section__product-item:not(:last-child) {
		margin-right: 30px;
	}

	.header-section .line {
		margin-bottom: 30px;
	}

	.header__logotype {
		width: 130px;
	}

	.hedaer__language {
		margin-right: 39px;
	}

	.complectation__block:nth-child(2) img {
		max-width: 325px;
	}

	.complectation__block:nth-child(3) img {
		max-width: 343px;
	}

	.complectation__block:nth-child(4) img {
		max-width: 214px;
	}

	.complectation__block {
		height: 270px;
	}

	.complectation__block:not(:first-child):after {
		height: 270px;
	}

	.complectation__block p {
		font-size: 23px;
		line-height: 28px;
		left: 16px;
		top: 186px;
		max-width: 290px;
	}

	.market__blocks {
		grid-template-columns: repeat(2, 1fr);
		gap: 5px;
	}

	.market__block-header {
		grid-row-start: 1;
		grid-column-start: 1;

		grid-row-end: 2;
		grid-column-end: 3;
		height: auto;
	}

	.market__block:first-child h3 {
		margin-bottom: 60px;
	}

	.market__block p {
		max-width: 280px;
		top: 270px;
	}

	.competence__num {
		width: 144px;
		height: 144px;
		border: 6px solid #000;

		h3 {
			font-size: 22px;
		}

		p {
			font-size: 13px;
			max-width: 115px;
		}
	}

	.market__block svg {
		display: none;
	}

	.responsibility__blocks {
		grid-template-columns: 1fr; 
		grid-template-rows: 1fr; 
		grid-template-areas: 
			"responsibility__block-image"
			"responsibility__block-quality"
			"responsibility__block-ecology";
	}

	.responsibility__block-image {
		background-image: url("../img/index/responsibility/bg.png");
		height: 480px;
	}
	
	.responsibility__block-quality {
		height: 379px;
	
		&:before {
			height: 379px;
		}
	}
	
	.responsibility__block-ecology {
		height: 402px;

		&:before {
			height: 402px;
		}
	}

	.responsibility__block:nth-child(1) {
		background-position: -22px -220px;
	}

	.responsibility__block:nth-child(2) h4 {
		max-width: 100%;
		margin: 90px 0 60px;
	}

	.responsibility__block:nth-child(2) p {
		max-width: 100%;
		margin: 0 ;
	}

	.responsibility__block:nth-child(3) h4 {
		max-width: 100%;
		margin: 90px 0 60px;
	}

	.responsibility__block:nth-child(3) p {
		max-width: 100%;
		margin: 0;
	}

	.responsibility__block { 
		padding: 0 120px;

		svg {
			margin-left: 0;
		}
	}

	.responsibility__block:before {
		margin-left: -130px;
	}

	.production .index-section-desc {
		display: none;
	}

	.production .line {
		margin-top: 60px;
	}

	.production__slider .slick-dots li.slick-active button {
		background-color: #ffdb30;
		width: 8px;
		height: 8px;
		transform: translate(0);
	}

	.production__slider .slick-dots li button {
		width: 8px;
		height: 8px;
	}

	.production__slider-one .slick-list .slick-track {
		height: 450px;
	}

	.production__slider .production__arrow-next {
		display: none !important;
	}

	.production__slider .production__arrow-prev {
		display: none !important;
	}

	.production__slider .slick-dots {
		bottom: 5px;
	}

	.production {
		margin-bottom: 60px;
	}
	
	.responsibility__blocks {
		gap: 2px;
	}

	.responsibility {
		margin-bottom: 60px;
	}

	.news {
		margin-bottom: 77px;
	}
	
	.news__block-img {
		height: 196px;
	}

	.news-all__block-img {
		min-height: 200px;
		max-height: 333px;
	}

	.news__blocks {
		grid-template-rows: 1fr;
		min-width: 100%;
		overflow-x: auto;

		grid-auto-flow: column;
		grid-auto-rows: 1fr;
		gap: 30px;
	}

	.news__block {
		width: 330px;
		padding: 20px;
		height: 385px;

		img {
			height: 197px;
			margin-bottom: 8px;
		}
	}

	.news__block::after {
		width: 291px;
	}

	.news h3, .news .line {
		margin-left: 0;
	}

	.news__date {
		margin-left: 10px;
	}

	.news__desc {
		-webkit-line-clamp: 3s;
		line-clamp: 3;
	}

	.footer {
		margin-top: 0;
		padding: 32px 0 0px;
	}

	.footer a, .footer p {
		font-size: 13px;
		line-height: 18px;
	}

	.footer__btn {
		font-size: 13px;
		line-height: 18px;
		width: 130px;
	}
	
	.news-index {
		h1 {
			margin-top: 60px;
			margin-bottom: 30px;
		}
	}

	.sidebar-container {
		max-width: 690px;
	}

	.vacancies h1 {
		margin-top: 60px;
		margin-bottom: 30px;
	}

	.vacancies .vacancies__desc {
		font-size: 18px;
		line-height: 130%;
	}

	.products__complectation h1 {
		margin-top: 60px;
		margin-bottom: 30px;
	}

	.products__complectation h1, .products__complectation p {
		padding-left: 0;
	}

	.products-detail img {
		max-width: 91%;
	}

	.dropdown__header {
		font-size: 20px;
		line-height: 130%;
	}

	.quality .heading-60 {
		margin-top: 60px;
		margin-bottom: 30px;
	}

	.ecology .heading-60 {
		margin-top: 60px;
		margin-bottom: 30px;
	}

	.news-all__block {
		padding: 30px 45px 45px 45px;
		margin-bottom: 60px;
		.text-24 {
			font-size: 18px;
			line-height: 130%;
		}
	}

	.news-all h1 {
		padding-left: 0;
	}

	.news-detail h1 {
		margin-top: 66px;
	}

	.mbs-10 {
        margin-bottom: 10px;
    }

	.mbs-20 {
        margin-bottom: 20px;
    }

    .mbs-30 {
        margin-bottom: 30px;
    }

    .mbs-90 {
        margin-bottom: 90px;
    }

    .clients__blocks {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px 120px;
        justify-items: center;
    }

    .clients__block {
        width: 230px;
    }

    .clients { 
        margin-bottom: 60px;
    }

	.popup.clients__popup {
		max-width: 526px;
		padding: 25px 38px;
		
		p, h3 {
			text-align: left;
		}
	}

	.clients__product-item {
		margin-bottom: 10px;
	}

    .clients .heading-60 {
        margin-top: 60px;
        margin-bottom: 30px;
    }

	.clients .container.min {
		padding: 0 15px 0 40px;
	}

	.clients .container.min.clients__tiles {
		padding: 0 15px 0 93px;
	}

    .error__block {
        margin: 90px 39px 60px;
    }

	.burger__heading-link {
		font-size: 18px;
		line-height: 130%;
		margin-bottom: 25px;
	}

	.burger__menu {
		max-width: 620px;
	}

	.popup {
		max-width: 690px;
	}

	.products-detail h1 {
		margin-top: 60px;
		margin-bottom: 30px;
	}

	.products-detail__files a:first-child {
		margin-right: 71px;
	}

	.about__history-years {
		overflow-x: auto;
	}

	.about .sidebar-container {
		max-width: 708px;
		margin-left: 31px;
	}

	.about__positions {
		grid-template-columns: repeat(2, 1fr);
	}

	.about .slider-container {
		max-width: 768px;
	}

	.about__slider .slick-dots {
		bottom: 5px;
	}

	.about__slider .slick-dots li.slick-active button {
		width: 10px;
		height: 10px;
		background-color: #ffdb30;
		transform: translate(0);
	}

	.about__slider .slick-list .slick-track {
		height: 450px;
	}

	.about__slider .about__arrow-next, .about__slider .about__arrow-prev {
		opacity: 0;
		z-index: -1;
	}

	.about__products:first-child {
		margin-right: 57px;
	}

	.innovation__slider .slick-dots {
		bottom: 15px;
	}

	
	.innovation__slider .slick-dots li.slick-active button {
		width: 8px;
		height: 8px;
		background-color: #ffdb30;
		transform: translate(0);
	}

	.innovation__slider .slick-dots li button {
		width: 8px;
		height: 8px;
		transform: translate(0);
	}

	.innovation__slider {
		min-height: 270px;
	}

	.innovation__slider-one img {
		width: 567px;
	}

	.innovation__slider-two img {
		width: 292px;
	}

	.innovation>.container-min {
		max-width: 720px;
	}

	.competence>.container-min {
		max-width: 720px;
		padding: 0 15px;
	}

	.competence__nums {
		margin-left: 0;
		gap: 45px 79px;
		margin-bottom: 60px;
	}

	.competence__num:nth-child(3) h3 {
		font-size: 30px;
	}

}