
@media (max-width: 1440px) {
	.responsibility__block p {
		max-width: 458px;
	}

	.responsibility__block h4 {
		margin: 120px 0 24px 78px; 
	}
}

@media (max-width: 1400px) {
    .news__block::after {
        width: 389px;
    }
}

@media (max-width: 1300px) {
	.about__history-content {
		img {
			margin-left: 0;
		}
	}
}

@media (max-width: 1280px) {

	.about__positions {
		// grid-template-columns: repeat(2, 1fr);
	}

	.about__history-years {
		overflow-x: auto;
	}

	.about__history-content {
		img {
			max-width: 100%;
		}
	}

}

@media (max-width: 1230px) {
    .news__blocks {
        grid-template-columns: repeat(2, 1fr);
    }

    .slider-container {
        max-width: 850px;
    }

	.footer__container {
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}

	.footer__left {
		margin-bottom: 30px;
		width: 100%;
		flex: 0;
	}
}

@media (max-width: 1130px) {
	.about__products-wrapper {
		flex-direction: column;
	}

    .header__navigation-item {
        &:not(:last-child) {
          margin-right: 30px;
        }
    }

    .slider-container {
        max-width: 703px;
    }

	.competence__nums {
		gap: 60px 100px;
	}

	.responsibility__block {
		p, svg, h4 {
			margin-left: 30px;
		}
	}
}

@import "./1024px";

@media (max-width: 912px) {
	.responsibility__block:nth-child(2) h4 {
		margin: 70px 0 60px 97px;
	}

	.responsibility__block p {
		max-width: 315px;
	}

	.clients__blocks {
		grid-template-columns: repeat(3, minmax(150px, 1fr));
		grid-gap: 30px 20%;
	}
}

@media (max-width: 897px) {
	.responsibility__block {
		p, svg, h4 {
			margin-left: 50px;
		}

		&:nth-child(2) h4 {
			margin: 70px 0 60px 50px;
		}

		&:nth-child(3) h4 {
			margin: 70px 0 60px 50px;
		}
	}

}

@import "./768px";

@media (max-width: 736px) {

	.about__products-wrapper {
		flex-direction: column;
	}
}

@media (max-width: 700px) {
	.responsibility__block { 
		padding: 0 30px;

		svg {
			margin-left: 0;
		}
	}

	.responsibility__block:nth-child(2) h4 {
		margin: 70px 0 60px
	}

	.quality__sertificates, .ecology__sertificates {
		grid-template-columns: repeat(2, 1fr);
	}

	.quality__sertificates img, .ecology__sertificates img {
		width: 172px;
		height: 247px;
	}

	.clients .container.min.clients__tiles {
		padding: 0 15px 0 40px;
	}
	
}

@media (max-width: 600px) {
	.complectation__blocks {
		grid-template-columns: repeat(1, 1fr);
	}

	.about__slider .slick-list .slick-track {
		height: 280px;
	}

	.clients__blocks {
		grid-template-columns: repeat(2, minmax(100px, 1fr));
		grid-gap: 30px 40%;
		
		justify-items: center;
	
		img {
			max-width: 100%;
		}
	}

	.popup.clients__popup {
		height: 90vh;
	}

	.complectation__block:first-child {
		height: 174px;
	}

	.market__blocks {
		grid-template-columns: repeat(1, 1fr);
	}

	.header-section {
		img {
			transform: scale(1)
		}
	}

	.clients__block {
		width: 176px;
		height: 122px;
	}

	.production__slider-one .slick-list .slick-track {
		height: 240px;
	}

	.production__buttons.mobile-version {
		display: flex;
	}

	.production__buttons {
		display: none;
	}

	.about__positions  {
		margin-right: 15px;
	}

	.burger__menu {
		flex-direction: column;
	}

	.burger {
		overflow: auto;
	}

	.burger__menu-list li {
		padding-left: 15px;
	}

	.burger__menu-one > .burger__menu-list li:last-child {
		margin-bottom: 30px;
	}

	.burger__menu-two > .burger__menu-list li:last-child {
		margin-bottom: 30px;
	}

	.products-detail__files {
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 0;
		margin-left: 16px;
	}

	.products-detail__files a:first-child {
		margin-bottom: 30px;
	}

	.products-detail__files a:nth-child(2) {
		margin-bottom: 60px;
	}

	.competence__num {
		width: 80px;
		height: 80px;
		border: 3px solid #000;

		h3 {
			font-size: 12px;
			margin-top: 10px;
		}

		p {
			font-size: 7px;
			max-width: 60px;
		}
	}

	.competence__num:nth-child(3) h3 {
		font-size: 20px;
	}
}

@media (max-width: 500px) {

	.news-all__block {
		padding: 30px 15px 15px 15px;
	}

    .popup {
		padding: 60px 15px;
		width: 382px;
		
		h3 {
			text-align: center;
			margin-bottom: 30px;
		}

		.text-20 {
			font-size: 16px;
			text-align: center;
		}

		.btn {
			display: block;
			margin: 0 auto;
		}
	}

	.main-textarea__self, .main-input__self {
		font-size: 16px;
		&::placeholder {
		  font-size: 16px;
		}
	}
}

@import "./412px";

@media (max-width: 375px) {

	.competence__nums {
		gap: 26px 52px;
	}

	.competence .competence__laboratory {
		font-size: 24px;
	}

	.quality__sertificates, .ecology__sertificates {
		gap: 30px 15px;
		grid-template-columns: repeat(2, minmax(100px, 1fr));
	}

	.clients__blocks {
		gap: 15px;
	}

	.clients__block {
		width: 166px;
	}

}