@import "./_vars.scss";

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Regular.woff") format("woff");
  font-display: swap;
  font-weight: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Bold.woff") format("woff");
  font-display: swap;
  font-weight: bold;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "SFPro";
  src: url("../fonts/SF-UI-Display-Medium.otf") format("opentype");
  font-display: swap;
  font-weight: 500;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "SFPro";
  src: url("../fonts/SF-UI-Display-Regular.otf") format("opentype");
  font-display: swap;
  font-weight: 400;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: "ProximaNova";
  overflow-x: hidden;
  touch-action: none;
  -ms-touch-action: none;
}

button {
  font-family: "ProximaNova";
  font-size: 16px;
}

body {
  width: 100vw;
  overflow-x: hidden;
  height: 100%;

  background-color: #fff;
  background-repeat: repeat-x;
  background-image: linear-gradient(to right, #F1F1F1 1px, transparent 1px, transparent),
                    linear-gradient(60deg, transparent 25px, #F1F1F1 25px, transparent 26px, transparent);
  background-position: left 189px top,
                       left 5px bottom,
                       left 5px center;

  background-size: 257px 100%;
}

body.brief-body {
  background-color: #fff !important;
}

input, textarea {
  font-family: "ProximaNova";
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

p {
}

.container {
  max-width: 1572px;
  padding: 0 15px;
  margin: 0 auto;
}

.container.white {
  a img {
    margin-left: 15px;
  }

  nav {
    margin-right: 15px;
  }
}

// .container-min {
//   max-width: 1064px;
//   padding: 0 20px;
//   margin: 0 auto;
// }

/* Block aliases */

.flex {
	display: flex;
}

.block {
	display: block;
}

.jc-center {
	justify-content: center;
}

.flex-wrap {
	flex-wrap: wrap;
}

.jc-start {
	justify-content: start;
}

.ta-center {
  text-align: center;
}

.ta-right {
  text-align: right;
}

.jc-end {
	justify-content: flex-end;
}

.jc-between {
	justify-content: space-between;
}

.ai-center {
	align-items: center;
}

.ai-between {
	align-items: space-between;
}

.fd-column {
	flex-direction: column;
}

.dn {
	display: none;
}

.c-pointer {
	cursor: pointer;
}

/* Indetns */

@for $i from 1 through 150 {
	.mb-#{ $i * 1 } {
		margin-bottom: #{ $i * 1 }px;
	}
}

@for $i from 1 through 150 {
	.mt-#{ $i * 1 } {
		margin-top: #{ $i * 1 }px;
	}
}

@for $i from 1 through 110 {
	.mr-#{ $i * 1 } {
		margin-right: #{ $i * 1 }px;
	}
}

@for $i from 1 through 32 {
	.pl-#{ $i * 1 } {
		padding-left: #{ $i * 1 }px;
	}
}

@for $i from 1 through 32 {
	.ml-#{ $i * 1 } {
		margin-left: #{ $i * 1 }px;
	}
}

.line {
  width: 324px;
  height: 4px;
  background-color: $yellow;
}

.line.black {
  background-color: #000;
}

.btn {
  outline: none;
  cursor: pointer;
  border: none;
}

.production__buttons .production-btn {
  padding: 7px 20px;
  background: transparent;

  font-family: SFPro;
  font-weight: normal;
  font-size: 20px;
  line-height: 130%;

  color: #000000;

  transition: all .3s ease-in-out;

  &:hover {
    background: $yellow;
  }
}

.production-btn--active {
}

.header {
  background-color: #fff;
}

.header {
  .container.white {
    border-bottom: 1px solid #000;
    padding: 0;
    max-width: 1542px;
  }
}

.header__container {
  height: 88px; 
}

.header__navigation-item {
  font-family: SFPro;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.2px;

  a {
    color: #333333;
  }
 
  &:not(:last-child) {
    margin-right: 60px;
  }
}

.hedaer__language {
  p {
    font-family: SFPro;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #000;
  }
}

.header-section {
	position: relative;
	overflow: hidden;

	img {
		width: 100%;
		height: 100%;
		position: absolute;
		transform: scale(1.5);
		top: 0;
		transition: all 12s;

		z-index: -1;
	}

  min-height: 700px; 
}

.header-section.animate {
	img {
    min-width: 1600px;
		transform: scale(1)
	}
}

.header-section__heading {
  margin-left: 30px;
  padding-top: 207px;

  p:nth-child(1) {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
  }

  h1 {
    font-weight: 600;
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF;
  }
}

.header-section__desc {
  max-width: 886px;
  font-family: SFPro;
  font-size: 24px;
  line-height: 130%;

  color: #fff;
}

.header-section__products-links {
  max-width: 886px;
}

.header-section__product-item {

  margin-bottom: 20px;

  &:not(:last-child) {
    margin-right: 50px;
  }

  a {
    font-family: SFPro;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    text-transform: uppercase;
    color: #FFFFFF;

    transition: .3s ease;

    &:hover {
      color: $yellow;
    }
  }

}

.complectation {
  padding: 90px 0;
}

.complectation.products__complectation {
  padding: 0;
}

.index-section-desc {
  margin-left: 30px;
  max-width: 750px;
  font-family: SFPro;
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
  color: #000000;

  margin-bottom: 90px;
}

.complectation__blocks {
  display: grid;
  grid-template-columns: repeat( 2, 1fr );
  grid-gap: 3px;  
}

.complectation__block {
  position: relative;
  height: 480px;
  overflow: hidden;

  img {
    position: absolute;
    z-index: 2;
    transition: .3s ease;
  }

  svg {
	position: absolute;
	right: 32px;
	bottom: 58px;
	z-index: 3;
	transition: .3s ease;

	&:hover {
		transform: scale(1.2);
	}
  }

  p {
    font-family: ProximaNova;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;

    transition: .3s ease;

    max-width: 317px;

    position: absolute;
    bottom: 36px;
    left: 69px;
    z-index: 2;
  }

  &:not(:first-child) {

    &:hover {
      p {
        color: #000;
      }

      &:after {
        top: 0;
      }
    }

    &:after {
      content: "";
      width: 100%;
      height: 480px;
      background-color: $yellow;
      top: -100%;
      z-index: 1;
      position: absolute;
  
      transition: .3s ease;
    }
  }

  &:nth-child(2) {
    img {
      top: -25px;
    }

    &:hover {
      img {
        top: 0;
      }
    }
  }

  &:nth-child(3) {
    img {
      left: -25px;
    }
    &:hover {
      img {
        left: 0;
      }
    }
  }

  &:nth-child(4) {
    img {
      left: -25px;
      top: 30px;
    }
    &:hover {
      img {
        left: 0;
      }
    }
  }

  &:not(:first-child) {
    background-color: #000;
  }

  &:first-child {
    padding-left: 30px;

    h3 {
      max-width: 499px;
      font-family: ProximaNova;
      font-weight: normal;
      font-size: 36px;
      line-height: 44px;
      letter-spacing: 0.02em;
      text-transform: uppercase;

      color: #000;
    }
  }
  
}

.market__blocks {
  display: grid;
  grid-template-columns: repeat( 3, 1fr );
  grid-gap: 3px;  
}

.market__block {
  display: block;
  position: relative;
  height: 480px;
  overflow: hidden;

  img {
    position: absolute;
    top: -25px;
    z-index: 2;
  	max-width: 100%;

    transition: .3s ease;
  }

  svg {
    position: absolute;
    bottom: 45px;
    right: 29px;
    z-index: 2;

    transition: .3s ease;

    &:hover {
      transform: scale(1.2)
    }
  }

  p {
    font-family: ProximaNova;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;

    max-width: 222px;

    position: absolute;
    bottom: 32px;
    left: 30px;
    z-index: 2;
    transition: .6s ease;
  }

  &:not(:first-child) {
    background-color: #000;

    &:hover {
      &:after {
        top: 0;
      }

      img {
        top: 0;
      }

      p {
        color: #000
      }
    }

    &:after {
      content: "";
      position: absolute;
      top: -480px;
      width: 772px;
      height: 480px;
      background-color: $yellow;
      transition: .3s ease-in-out;
      z-index: 1;
    }
  }

  &:first-child {
    padding-left: 30px;

    h3 {
      max-width: 418px;
      font-family: ProximaNova;
      font-weight: normal;
      font-size: 36px;
      line-height: 44px;
      letter-spacing: 0.02em;
      text-transform: uppercase;

      color: #000;
    }
  }
  
}

.production {
  .line {
    margin-left: 30px;
  }
}

.production__buttons.mobile-version {
	display: none;
}

.production__header {
  h3 {
      font-family: ProximaNova;
      font-weight: normal;
      font-size: 36px;
      line-height: 44px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      margin-left: 30px;

      color: #000;
  }
}

.production__slider {
  position: relative;

  .slick-dots {
    position: absolute;
    bottom: 60px;
    display: flex;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);

    li {
      button {
        border: none;
        outline: none;
        cursor: pointer;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #fff;

        text-indent: -9999px;
      }
      
      &:not(:last-child) {
        margin-right: 16px;
      }
    }

    li.slick-active {
      button {
        width: 22px;
        height: 22px;
        background-color: $yellow;
        transform: translateY(-4px)
      }
    }
  }

  .production__arrow-next, .production__arrow-prev {
    background-color: transparent;
    position: absolute;
  
    bottom: 40px;
  }

  .production__arrow-next {
    left: 61%;
    transform: translateX(-50%);
  }

  .production__arrow-prev {
    z-index: 5;
    left: 39%;
    transform: translateX(-50%);
  }
  
}

.responsibility {
  margin-bottom: 90px;

  .line {
    margin-left: 30px;
  }
  h3 {
    font-family: ProximaNova;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-left: 30px;

    color: #000;
  }
}

.responsibility__blocks {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 3px; 
  grid-template-areas: 
    "responsibility__block-image responsibility__block-quality"
    "responsibility__block-image responsibility__block-ecology";
}

.responsibility__block {
  max-width: 771px;
  background-color: #000;
  display: block;
  transition: .3s ease-in-out;
  position: relative;
  overflow: hidden;

  svg {
    margin-top: 30px;
    position: relative;
    z-index: 2;
    margin-left: 78px;

    transition: .3s ease;

    &:hover {
      transform: scale(1.2);
    }
  }

  h4, p {
    transition: .3s ease-in-out;
    position: relative;
    z-index: 2;

    width: 100%;
  }

  h4 {
    max-width: 469px;
    font-family: ProximaNova;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FFFFFF;

    margin: 120px 0 90px 78px;
  }

  p {
    margin-left: 78px;
    max-width: 620px;
    font-family: SFPro;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #FFFFFF;
  }

  &:hover {
    &:not(:first-child):before {
      top: 0;
    }

    h4, p {
      color: #000
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: -100%;
    width: 772px;
    height: 480px;
    background-color: #ffdb30;
    transition: .3s ease-in-out;
    z-index: 1;
  }
  
}

.responsibility__block-image {
  background-image: url("../img/index/responsibility/bg.png");
  grid-area: responsibility__block-image;
  height: 962px;
}

.responsibility__block-quality {
  grid-area: responsibility__block-quality;
  
}

.responsibility__block-ecology {
  grid-area: responsibility__block-ecology;
}

.news {
  margin-bottom: 90px;

  .line {
    margin-left: 30px;
  }
  h3 {
    font-family: ProximaNova;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-left: 30px;

    color: #000;
  }
}

.news__all-mobile {
	display: none;
}

.news__blocks {
  display: grid;
  grid-template-columns: repeat( 3, 1fr );
  grid-gap: 1px;  

  a {
    display: block;
  }

  a:first-child {
	margin-left: 1px;
  }
}

.news__block {
  background-color: #fff;
  max-width: 513px;
  height: 480px;
  padding: 28px;
  margin: 0 1px;
  position: relative;

  &:hover {
    &::after {
      background-color: $yellow;
    }
  }

  &::after {
    content: "";
    width: calc(513px - 60px);
    height: 4px;
    background-color: #000;
    position: absolute;
    bottom: 0;
    transition: .3s ease-in-out;

    left: 50%;
    transform: translateX(-50%);
  }

  img {
    max-width: 100%;
    height: 306px;
    margin-bottom: 15px;
  }

}

.news__header {
  a {
    padding: 7px 20px;
    background: transparent;

    font-family: SFPro;
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    min-width: 154px;

    color: #000000;

    transition: all .3s ease-in-out;

    &:hover {
      background: $yellow;
    }
  }
}

.news__date {
  font-family: SFPro;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 27px;
}

.news__desc {
  font-family: SFPro;
  font-weight: normal;
  font-size: 20px;
  line-height: 130%;
  color: #000000;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; 
          line-clamp: 2; 
  -webkit-box-orient: vertical;
}


.news-all__name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; 
          line-clamp: 2; 
  -webkit-box-orient: vertical;
}

.footer {
  background-color: #000;

  a {
    font-family: SFPro;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.2px;

    color: #fff;
  }

  p {
    font-family: SFPro;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.2px;

    color: #fff;
  }
}

.footer__container {
  height: 180px;
  color: #fff;
}

.footer__btn {
  width: 150px;
  height: 40px;
  border: 1px solid #FFFFFF;
  background-color: transparent;

  font-family: SFPro;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}

.footer__mobile { 
  display: none;
}

.footer__mobile-xs {
	display: none;
}

.innovation {
  margin-bottom: 120px;
}

.innovation__slider {
  position: relative;
  min-height: 600px;
  background-color: #000;

  .slick-dots {
    position: absolute;
    bottom: 60px;
    display: flex;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);

    li {
      button {
        border: none;
        outline: none;
        cursor: pointer;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #fff;

        text-indent: -9999px;
      }
      
      &:not(:last-child) {
        margin-right: 16px;
      }
    }

    li.slick-active {
      button {
        width: 22px;
        height: 22px;
        background-color: $yellow;
        transform: translateY(-4px)
      }
    }
  }
  
}

.innovation__slide {
  background-color: #000;

  img {
    margin: 0 auto;
    margin-top: 40px;
    max-width: 100%;
  }
}

.clients {
  margin-bottom: 120px;
}

.clients__product-item {
  margin-bottom: 20px;

  &:not(:last-child) {
    margin-right: 50px;
  }

  a {
    font-family: SFPro;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    color: #000;
    transition: .3s ease;

    &:hover {
      color: $yellow;
    }
    
  }
}

.heading-36 {
  font-family: ProximaNova;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
}

.heading-60 {
  font-family: ProximaNova;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 73px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
}

.text-20 {
  max-width: 737px;
  font-family: SFPro;
  font-weight: normal;
  font-size: 20px;
  line-height: 130%;
  color: #000000;

  width: 100%;
}

.text-24 {
  font-family: SFPro;
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
  color: #000000;

  width: 100%;
}

.clients__blocks {
  display: grid;
  grid-template-columns: repeat( 4, 1fr );
  grid-gap: 30px 27px;
  max-width: 75%;  
}

.contacts__desc {
  button {
    min-width: 177px;
  }
}

.clients__block {
  padding: 36px;
  display: flex;
  width: 230px;
  justify-content: center;
  align-items: center;
  border: 1px solid #E5E5E5;
  height: 160px;
  cursor: pointer ;
  transition: .3s ease-in-out;
  background-color: #fff;

  &:hover {
    border: 1px solid $yellow;
  }
}

.clients > .container {
  max-width: 1347px;
}

.innovation > .container-min, .competence>.container-min {
  max-width: 1058px;
  padding: 0 19px 0 30px;
  margin: 0 auto;
}

.clients .container.min {
  max-width: 1058px;
  padding: 0 15px 0 30px;
  margin: 0 auto;
}

.innovation p {
  max-width: 750px;
}

.competence {
  img {
    width: 100%;
  }

  .text-20 {
    max-width: 100%;
  }
  
  .competence__desc {
    max-width: 770px;
  }
}

.competence__nums {
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, 194px));
  gap: 60px 173px;

  margin-bottom: 90px;
}

.competence__num {
  width: 194px;
  height: 194px;
  border-radius: 50%;
  border: 8px solid #000000;
  background-color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h3 {
    margin-top: 24px;

    font-family: SFPro;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
  }

  p {
    font-family: SFPro;
    font-weight: normal;
    font-size: 18px;
    line-height: 110.34%;
    max-width: 155px;

    text-align: center;
    color: #000000;
  }
}

.competence__num:nth-child(3) {
  h3 {
    font-size: 45px;
  }
}

.competence__tech-heading {
  max-width: 614px;
}

.error__block {
  margin: 90px auto 30px;
  max-width: 1028px;
  height: 476px;
  background: #FFFFFF;
  border: 1px solid rgba(5, 46, 126, 0.07);

  display: flex;
  justify-content: center;

  p {
    font-family: SFPro;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #000000;
  }
}

.news-detail.news-ident {
  p {
    padding-left: 21px;
  }

  h1 {
    padding-left: 21px;
  }
}

.error__gohome {
  display: block;
  margin: 0 auto 120px;
  width: 321px;

  .error_gohome-btn {
    height: 66px;
  
    background: #000000;

    font-family: SFPro;
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}

.sidebar-layout__container {
  display: grid;
  grid-template-columns: 385px minmax(460px, 1fr);
}

.sidebar-container {
  max-width: 772px;
  margin-left: 129px;
}

.sidebar {
  padding-top: 90px;
  padding-left: 21px;
  background-color: #fff;
}

.sidebar .sidebar__link{
  display: block;
  color: #000;
  font-family: SFPro;
  font-weight: normal;  
  font-size: 20px;
  line-height: 130%;

  &:hover:not(&.link--active) {
    div {
      color: $yellow;
    }
  }

  &.link--active {
    div {
      background-color: $yellow;
    }
  }

  div {
    width: 366px;
    height: 56px;
    display: flex;
    align-items: center;

    padding-left: 12px;
  }
  
}

.news-index {
  img {
    max-width: 100%;
  }
}

ul.list {
  li {
    list-style: disc outside;
    padding: 1px 3px;
    margin-left: 21px;

    width: 100%;
    font-family: SFPro;
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;

    max-width: 729px;
  }
}

.quality ul.list {
  li {
    margin-bottom: 5px;
  }
}

.ecology ul.list {
  li {
    margin-bottom: 5px;
  }
}

.dropdown__header {
  color: #fff;
  width: 100%;
  background-color: #000;
  padding: 15px 21px;

  font-family: SFPro;
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
  cursor: pointer;

  margin-bottom: 15px;

  p {
    margin-right: 20px;
  }

  img {
    transition: .3s ease-out;
    transform: rotate(-90deg);

    &.rotated {
    transform: rotate(0deg);

    }
  }
}

.dropdown__content {
  display: none;
  padding: 5px 0 30px 21px;
}

.news-index .dropdown:last-child {
  margin-bottom: 120px;
}

.vacancies .dropdown:last-child {
  margin-bottom: 120px;
}

.news-index__btn {
  width: 177px;
  height: 40px;
  border: 1px solid #000000;
  background-color: transparent;

  font-family: SFPro;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #000000;
}

.control__menu {
  margin-bottom: 120px;
  .control__menu-item {
    display: block;
    color: #000;
    font-size: 24px;
    line-height: 130%;
    font-family: SFPro;
    text-decoration-line: underline;
    margin-bottom: 20px;
  }
}

.control h1, .control nav {
  margin-left: 21px;
}

.vacancies__btn, .black-btn {
    width: 234px;
    height: 66px;
    background: #000000;
    font-family: SFPro;
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: .3s ease;

    &:hover {
      background-color: $yellow;
    }
    
}

.vacancies__desc {
  font-size: 24px ;
}

.quality__sertificates, .ecology__sertificates {
  margin-left: 21px;
  display: grid;
  grid-template-columns: repeat( 3, 1fr );
  grid-gap: 30px;  
}

.ecology__desc {
  font-size: 24px;
}

.quality__desc { 
  font-size: 24px;
}

.products-detail__files {
  margin-bottom: 120px;
  a:first-child {
    margin-right: 48px;
  }
}

.products-detail__file-name {
  max-width: 210px;
}

.products-detail img {
	max-width: 100%;
}

.news-all__block {
  border: 1px solid rgba(5, 46, 126, 0.07);
  background-color: #fff;
  padding: 30px 45px 45px 45px;
  position: relative;
  margin-bottom: 24px;

  &:not(:last-child) {
    margin-bottom: 0;
  }

  transition: .3s ease-in-out;

  img {
    max-width: 100%;
  }

  &:after {
    content: "";
    width: 324px;
    height: 4px;
    background-color: #000;
    position: absolute;

    transition: .3s ease-in-out;
    top: -4px;
    left: 0;
  }

  &:hover {
    background-color: #F1F1F1;
    &::after {
      background-color: $yellow;
      width: 403px;
    }
  }

}

.news-all__date {
  color: #000;
}

.news-index__date {
  font-family: SFPro;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  color: #000000;
}

.about__products-wrapper {
  max-width: 770px;
  justify-content: space-between;
}

.about__slider {
  position: relative;

  .slick-dots {
    position: absolute;
    bottom: 60px;
    display: flex;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);

    li {
      button {
        border: none;
        outline: none;
        cursor: pointer;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #fff;

        text-indent: -9999px;
      }
      
      &:not(:last-child) {
        margin-right: 16px;
      }
    }

    li.slick-active {
      button {
        width: 22px;
        height: 22px;
        background-color: $yellow;
        transform: translateY(-4px)
      }
    }
  }

  .about__arrow-next, .about__arrow-prev {
    background-color: transparent;
    position: absolute;
  
    bottom: 40px;
  }

  .about__arrow-next {
    left: 61%;
    transform: translateX(-50%);
  }

  .about__arrow-prev {
    z-index: 5;
    left: 39%;
    transform: translateX(-50%);
  }
  
}

.slider-container {
  max-width: 1157px; margin: 0 auto;
}

.about__products {
  .about__product {
    width: 303px;
    height: 43px;
    display: flex;
    align-items: center;
    transition: .3s ease;
    padding-left: 21px;
    margin-bottom: 9px;

    a {
      font-family: SFPro;
      font-weight: normal;
      font-size: 20px;
      line-height: 130%;
      color: #000000;
    }

    &:hover {
      background-color: $yellow;
    }
  }
}

.about__positions {
  margin-left: 21px;
  display: grid;
  grid-template-columns: repeat( 2, 1fr );
  grid-gap: 35px 20px;  
}

.about__position {
  max-width: 273px;
  p {
    font-family: SFPro;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    color: #000000;

    width: 100%;
  }

  span {
    font-family: SFPro;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    width: 100%;
  }
}

.about__position-card { 
  overflow: hidden;
  max-width: 273px;
  // height: 354px;
  // border: 1px solid rgba(5, 46, 126, 0.07);

  margin-bottom: 25px;

  img {
    max-width: 100%;
  }
}

.about__history-years {
  position: relative;
  margin-left: 13px;

  .about__history-years-caret {
    position: absolute;
    left: 0;
    width: 60px;
    height: 35px;
    background-color: $yellow;
    z-index: 1;

    transition: .3s ease;
  }

  p {
    position: relative;
    padding: 5px 8px;
    cursor: pointer;

    z-index: 2;

    font-family: SFPro;
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    color: #000000;

    &:not(:last-child) {
      margin-right: 9px;
    }

    &:hover:not(&.active) {
      color: $yellow;
    }
  }
}

.about__history-content {
  margin-left: 21px;
  margin-bottom: 80px;

  img {
    margin-left: -21px;
  }
}

.about__history-content.slideLeft {
  animation: slideLeft .3s ease;
  animation-fill-mode: forwards;
}

.about__history-content.slideRight {
  animation: slideRight .3s ease;
  animation-fill-mode: forwards;
}

@keyframes slideLeft {
	0% {
    opacity: 1;
    transform: translateX(0);
	}

  25% {
    opacity: 0;
    transform: translateX(-200px);
  }

  50% {
    transform: translateX(400px);
    opacity: 0;
  }

	100% {
    transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideRight {
	0% {
    opacity: 1;
    transform: translateX(0);
	}

  25% {
    opacity: 0;
    transform: translateX(200px);
  }

  50% {
    transform: translateX(-400px);
    opacity: 0;
  }

	100% {
    transform: translateX(0);
		opacity: 1;
	}
}

.news-all__btn-more, .black-bordered-btn {
  font-family: SFPro;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #000000;

  padding: 0 20px;
  height: 40px;
  border: 1px solid #000000;  
  background-color: transparent;
}

.news-detail {
  img {
    max-width: 100%;
  }
}

.news-detail .sidebar-container > *:last-child {
  margin-bottom: 120px;
}


.popup-wrapper {
  background-color: rgba(#000, .68 );
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 20px;

  display: grid;
  justify-content: center;
  align-content: center;

  opacity: 0;
  z-index: -9999;
  transition-delay: .05s;

}

.popup-wrapper__expanded {
	opacity: 1;
	z-index: 9999;
	transition-delay: 0s;
}

.popup {
  overflow: auto;
  position: relative;
  background-color: #fff;
  max-width: 729px;
  padding: 60px;
  margin: 60px;
  z-index: 99999;
  margin: 0 auto;
  transition: .3s ease;

  transform: translateY(50px);
}

.popup-wrapper.popup-wrapper__expanded > .popup {
	transform: translateY(0);
	transition: .3s ease;
}

.main-textarea {
	position: relative;

	.main-input__error-msg {
		display: none;
		margin-right: 8px;
		position: absolute;
		right: 0;
		font-family: SFPro;
		font-weight: normal;
		font-size: 14px;
		line-height: 130%;
		color: #FF0000;
	}
}

.main-textarea__self {
  width: 100%;
  background: #F1F1F1;
  border: none;
  border-radius: 0;
  outline: none;
  border-bottom: 1px solid #000;

  width: 100%;
  padding: 20px 20px;
  font-family: SFPro;
  font-weight: normal;
  font-size: 20px;
  line-height: 130%;
  color: #000000;

  resize: none;

  &::placeholder {
    font-family: SFPro;
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    color: #BFBFBF;
  }
}

.main-textarea.main-input--validate {
	
	.main-textarea__self {
		border-bottom: 1px solid #FF0000;
	}
	
	.main-input__error-msg {
	  display: block;
	}
}

.main-input {
  width: 100%;
  height: 56px;
  background: #F1F1F1;

  display: flex;
  align-items: center;
  border-bottom: 1px solid #000;

  &__self {
    border: none;
    outline: none;
    background-color: transparent;

    width: 100%;
    padding: 0 20px;
    font-family: SFPro;
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    color: #000000;

    &::placeholder {
      font-family: SFPro;
      font-weight: normal;
      font-size: 20px;
      line-height: 130%;
      color: #BFBFBF;
    }
  }

  .main-input__error-msg {
    display: none;
    margin-right: 8px;
    font-family: SFPro;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    color: #FF0000;

    min-width: 125px;
  }
}

.main-input.main-input--validate {
  border-bottom: 1px solid #FF0000;
  
  .main-input__error-msg {
    display: block;
  }
}

.popup__choose-file {
	p {
		max-width: 420px;
	}
}

#upload {
	opacity: 0;
	z-index: -1;
	position: absolute;
}

.popup__close {
    position: absolute;
    height: 40px; 
	width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
	cursor: pointer;

	right: 10px;
	top: 10px;
}

.popup__close::before,
.popup__close::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: black;
}

.popup__close::before {
    transform: rotate(45deg);
}

.popup__close::after {
    transform: rotate(-45deg);
}

.clients__popup {
	min-width: 902px;
	height: 375px;
}

.footer__left {
	flex: auto;
	margin-right: 158px;
}

.header__burger {
	position: relative;
	display: none;
	padding: 10px;
	margin: 0 -10px;

	flex-direction: column;
}

.header__burger div{
	height: 2px;
	width: 30px;
	background: #000;

	&:not(:last-child) {
		margin-bottom: 6px;
	}
}

// .header__burger:after, .header__burger:before{
//     content: '';
// }
// .header__burger:after{
//     bottom: 8px;
// }
// .header__burger:before{
//     top: 16px;
// }

.burger {
	display: none;
}

.hide {
  display: none;
}

.show-block {
  display: block; 
}

@import "./_media.scss";